[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
flask-sessioin = "*"

[dev-packages]
beautifulsoup4 = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
