{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
<div class="container">
    <h2>About HPI Course Guide</h2>
    <div class="card mb-1" id="general-content-card">
        <div class="card-body">
            <h3>Project Overview</h3>
            <p>The HPI Course Guide was initiated by Johann Lieberwirth on November 9, 2023, with the objective of improving the way students at Hasso-Plattner-Institute access academic course information. This application provides a centralized platform for easy navigation and management of course-related details.</p>

            <h3>Challenge and Solution</h3>
            <p>With the challenge of fragmented course information across multiple platforms, the HPI Course Guide offers a unified solution. It brings together essential details such as course schedules, instructor information, and evaluations, facilitating easier course selection and management.</p>

            <h3>Key Features</h3>
            <ul>
                <li>Streamlined course search and discovery.</li>
                <li>Integration of course evaluation data.</li>
                <li>Personalized course recommendations.</li>
                <li>Automated study plan creation.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}