{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Current price</th>
                <th>Total value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in holdings %}
                <tr>
                    <td>{{ stock.get("symbol") }}</td>
                    <td>{{ stock.get("shares") }}</td>
                    <td>{{ stock.get("price") | usd }}</td>
                    <td>{{ stock.get("value") | usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td>{{ cash | usd }}</td>
            </tr>
            <tr class="table-secondary">
                <td>GRAND VALUE</td>
                <td></td>
                <td></td>
                <td>{{ grand_value | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
