{% extends "layout.html" %}

{% block title %}
    Search modules
{% endblock %}

{% block main %}
<div class="container">
    <h3>Module Search</h3>
    <div class="card mb-1">
        <div class="card-body">
            <form action="/search" method="post">
                <div class="row">
                    <div class="col-6 col-sm-4 col-md">
                        <h5>Module group</h5>
                        <div id="module_group_selection" class="result-filter-list">
                            {% for module in module_groups %}
                                <input type="checkbox" id="{{ module }}" name="module_group_checkboxes" value="{{ module }}" {% if not filter_settings or module in filter_settings.getlist("module_group_checkboxes") %} checked {% endif %}>
                                <label for="{{ module }}"> {{ module.upper() }} </label><br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md">
                        <h5>Credits</h5>
                        <input type="checkbox" id="3" name="credits_checkboxes" value="3" {% if not filter_settings or "3" in filter_settings.getlist("credits_checkboxes") %} checked {% endif %}>
                        <label for="3"> 3 </label><br>
                        <input type="checkbox" id="6" name="credits_checkboxes" value="6" {% if not filter_settings or "6" in filter_settings.getlist("credits_checkboxes") %} checked {% endif %}>
                        <label for="6"> 6 </label><br>
                        <input type="checkbox" id=">6" name="credits_checkboxes" value=">6" {% if not filter_settings or ">6" in filter_settings.getlist("credits_checkboxes") %} checked {% endif %}>
                        <label for=">6"> &gt 6 </label><br>
                    </div>
                    <div class="col-6 col-sm-4 col-md">
                        <h5>EvaP results</h5>
                        <input type="radio" id="evap_1.5" name="evap_max_result" value="1.5" {% if filter_settings and "1.5" in filter_settings.getlist("evap_max_result") %} checked {% endif %}>
                        <label for="evap_1.5"> &lt 1.5 </label><br>
                        <input type="radio" id="evap_2" name="evap_max_result" value="2" {% if filter_settings and "2" in filter_settings.getlist("evap_max_result") %} checked {% endif %}>
                        <label for="evap_2"> &lt 2 </label><br>
                        <input type="radio" id="evap_3" name="evap_max_result" value="3" {% if filter_settings and "3" in filter_settings.getlist("evap_max_result") %} checked {% endif %}>
                        <label for="evap_3"> &lt 3 </label><br>
                        <input type="radio" id="evap_6" name="evap_max_result" value="6" {% if not filter_settings or "6" in filter_settings.getlist("evap_max_result") %} checked {% endif %}>
                        <label for="evap_6"> irrelevant </label><br>
                    </div>
                    <div class="col-6 col-sm-4 col-md">
                            <h5>Irrelevant modules</h5>
                        <input type="checkbox" id="exclude_taken" name="exclude_taken" value="exclude_taken" {% if filter_settings and "exclude_taken" in filter_settings.getlist("exclude_taken") %} checked {% endif %}>
                        <label for="exclude_taken"> Exclude taken modules </label><br>
                        <input type="checkbox" id="include_relevant_only" name="include_relevant_only" value="include_relevant_only" {% if filter_settings and "include_relevant_only" in filter_settings.getlist("include_relevant_only") %} checked {% endif %}>
                        <label for="include_relevant_only"> Include necessary modules only </label><br>
                    </div>
                    <div class="col-6 col-sm-4 col-md d-flex justify-content-center align-items-start">
                        <button class="btn btn-dark w-100" type="submit">Find</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if not module_display_list|length == 0 %}
        {% for module in module_display_list%}
            <div class="row">
                <a href="module/{{ module['url_trimmed'] }}" style="text-decoration: none; color: inherit;">
                    <div class="card mb-1">
                        <div class="card-body">
                            <div id="module_group_badges" class="d-flex flex-row flex-wrap">
                                {% for submodule_group in module['module_group_subgroup_combinations']|unique_list %}
                                <div>
                                    <span class="badge bg-primary badge-degree me-1">{{ submodule_group.strip("-") }}</span>
                                </div>
                            {% endfor %}
                            </div>
                            <h3 class="card-title">{{ module["title"] }}</h3>
                            <p>Credits: {{ module["credits"] }}</p>
                            <p>EvaP results: {{ module["evap_grade"] }} ({{ module["evap_semester"] }})</p>
                            </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

